@charset "UTF-8";



.box{
  position: absolute;
  border-style: dashed;
  border-width: 1px;
  border-color: rgb(176,140,70);
  background-color: ghostwhite;
}

.canvas{
	position: absolute;
	border-width: 0px;
	background-color: rgba(0,0,0,0);
}



.box2{
	display: table;
	width: 100%;
	background-color: red;	
}

.center{
	width: 1000px;
	height: 1000px;
	background-color: blue;
	float: left;
}

.wrapper {
	overflow : hidden;
}
.main {
	float : left;
	width : -webkit-calc (100 % - 300px);
	width : calc (100 % - 300px);
	background-color: yellow;
}
.side {
	float : right;
	width : 300px;
	background-color: blue;
}
