@charset "UTF-8";

.title{
	width: 100%;
	background-color: gray;
	font-size: 40px;
	text-align: center;
}

.canvas{
	position: absolute;
	z-index: 3;
	width: 1200px;
	height: 500px;
	border:1px solid;
}

.canvas2{
	position: relative;
	background-color: ghostwhite;
	z-index: 1;
	width: 1200px;
	height: 500px;
}

.formula{
	margin-right: 20px;
	padding: 15px;
	padding-bottom: 18px;
	border: 1px solid;
	float: left;
	height: 70px;	
}

.result{
	align-content: center;
	vertical-align: center;
}

