.title{
  background-color: gray;
  font-size: 40px;
  text-shadow: 4px 4px 8px skyblue;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  min-width: 800px;
}

.title h1 {
  margin-bottom: 20px;
  text-align: center;
  font-family: courier;
  padding: 20px;
}

button{
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin-left: -1px;
  padding: 5px;
  background-color: gray;
  border: 1px solid gray;
  box-shadow: 0px 5px 10px white inset;
}
button:hover{
  background-color: red !important;
  color: white !important;
}

#input{
  width: 250px;
  height: 30px;
  margin-left: 250px;
  margin-top: 10px;
}

.user_input{
  margin-left: 250px;
  position: absolute;
}

#button{
  width: 350px;
  height: 50px;
  margin-left: 400px;
}

.radio_button{
  margin-left: 200px;
  position: relative;
}

/*
#result_value_box {
  display: inline-block;
  width: 1200px;
  height: 500px;
  border: 1px solid gray;
  margin-top: 20px;
  margin-left: 100px;
  padding-top: 10px;
  padding-left: 10px;
  resize: none;
  overflow: hidden;
}

#result_graph_box {
  display: inline-block;
  width: 40% !important;
  height: 220px !important;
  border: 1px solid gray;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  resize: none;
  overflow: hidden;
}
*/

#plain_text2 {
  width:;
  height: 220px !important;
  font-size: 20pt;
  text-align: center;
}

/*

//// RESULT 버튼 만들 때 사용 ////

#reset {
  font-size: 10px;
  color: black;
  text-decoration: none;
  margin-left: 5px;
  background-color: skyblue;
  border: 1px solid gray;
  box-shadow: 0px 5px 10px white inset;
}

#reset:hover {
  background-color: blue !important;
}
*/
